@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@0,500&display=swap');

/* //////////////////////////
    GLOBAL STYLES (nav menu at bottom for readability)
////////////////////////////*/


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: crosshair;   
}
body{
    background-color: rgb(48, 45, 45);
    color: rgba(240,240,240,.97);
    font-family: 'Roboto', sans-serif;
}

/* //////////////////////////
    HERO SECTION
////////////////////////////*/

.nav-container {
    background: rgb(29, 28, 28);
    height: 10vh;
}
.company-name {
    font-family: 'Roboto', sans-serif;
    font-size: 1.7rem;
    text-decoration: none;
    font-weight: 700;
    text-shadow: rgb(7, 7, 7) 5px 5px 10px;
    color: rgba(240,240,240,.97);
    padding: 1vh 0vw;
    text-align: center;
} 
.nav-list-container {
   display: none;
}
@media (min-width: 1038px) {
    .nav-container {
         display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }
    .company-name {
        text-align: left;
        padding-left: 2vw;
    }
    .nav-list-container {
        min-width: 60vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    
    }
    .nav-list-item {
        list-style: none;
    }
    li > a {
        text-decoration: none;
        color: rgba(240,240,240,.97);
    }
    li > a:hover {
        color: #03a9f4 ;
        cursor: pointer;
    }
}

/* //////////////////////////
    CONTACT SECTION
////////////////////////////*/

.contact-section {
padding-bottom: 5vh;
}
.contact-text-container {
    display: flex;
    flex-direction: column;
}
.contact-text {
    margin: 5vh auto 3vh;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: #646262;
    border-bottom: 1px solid #646262;
}
.info-text {
    font-size: 1rem;
    font-family: adobe-garamond-pro;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.5px;
    line-height: 1.6em;
    color: rgba(240,240,240,.97);
    margin: 0 auto;
}
.logo-container {
    max-width: 225px;
    margin: 0 auto;
    padding-top: 7vh;
}
.logo {
    max-width: 225px;
    box-shadow: 3px 1px 2px 6px rgba(0,0,0,0.09), 
                3px 2px 4px 6px rgba(0,0,0,0.09), 
                3px 4px 8px 6px rgba(0,0,0,0.09), 
                3px 8px 16px 6px rgba(0,0,0,0.09),
                3px 16px 32px 6px rgba(0,0,0,0.09), 
                3px 32px 64px 6px rgba(0,0,0,0.09);
}
@media (min-width: 1038px) {
    .contact-section {
        display: flex;
        justify-content: space-around;
        align-items: space-around;
    }
    .contact-text-container {
        margin: 0;
        align-items: center;
        justify-content: center;
    }
    .contact-text {
        font-size: 1.2rem;
    }
    .info-text {
        font-size: 1.2rem;
        text-align: left;
    }
    .logo-container {
        margin: 0;
        max-width: 500px;
    }
    .logo {
        max-width: 350px;
    }
}

/* //////////////////////////
    FORM SECTION
////////////////////////////*/

.send {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.contact-form{
  max-width: 400px;
  margin: 0 auto 5vh;
}
button{
    width: 100px;
    height: 40px;
    transition: all 350ms;
}
button:hover{
   background-color: #03a9f4 ;
   font-size: 1.1rem;
   width: 105px;
   height: 45px;
   cursor: pointer;
}

/* //////////////////////////
    FOOTER SECTION
////////////////////////////*/

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(29, 28, 28);;
  height: 75px;
}
.contact-us{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding-bottom: 50px;
 }
.contact {
  color: whitesmoke;
  text-decoration: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.2rem;
  transition: all 350ms;
}
.contact:hover {
  color: #03a9f4 ;
  font-size: 1.4rem;
  cursor: pointer;
      
}


