@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@0,500&display=swap');

/* //////////////////////////
    GLOBAL STYLES (nav menu at bottom for readability)
////////////////////////////*/


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: crosshair;   
}
body{
    background-color: rgb(29, 28, 28);
    color: rgba(240,240,240,.97);
}

/* //////////////////////////
    HERO SECTION
////////////////////////////*/

.hero-flex-container {
    min-height: 40vh;
    background-image: url('./review-images/reviewIcgw.jpg');
    background-size: cover;
    background-position: top left;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(102, 102, 102);;
    background-blend-mode: overlay;
}
.reviews {
    align-self: center;
    margin-right: 15vw;
    font-family: 'EB Garamond', serif;
    text-shadow: rgb(122, 129, 131) 0px 0px 10px;
    font-size: 1.1rem;
}
@media (min-width: 838px) {
    .hero-flex-container {
        min-height: 60vh;
        background-size: cover;
        background-position: center top;
    }
    .reviews {
        font-size: 1.3rem;
    }
    .review-title {
        padding: 5vh;
    }
}
@media (min-width: 1138px) {
    .hero-flex-container {
        min-height: 80vh;
        background-size: cover;
        background-position: center top;
    }
    .reviews {
        font-size: 1.8rem;
    }
    .review-title {
        padding: 8vh;
    }
}
@media (min-width: 1438px) {
    .reviews {
        font-size: 2.2rem;
    }
}

/* //////////////////////////
    COMMENTS/REVIEWS SECTION
////////////////////////////*/

.review-title {
    margin: 2em 1em;
    text-align: center;
    font-family: 'Acme', sans-serif;
    word-spacing: .07em;
    letter-spacing: .85px;
    font-size: 1.6rem;
}
.comment-box{
    cursor: pointer;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 10vh 2vw;
}
.old-reviews {
    max-width: 500px;
    margin: 0 auto;
}
.review-text {
    font-size: 1em;
    font-family: adobe-garamond-pro;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 1.6em;
    color: rgba(240,240,240,.97);
    text-align: left;
    max-width: 450px;
    margin: 0 auto 4vh;
}
.left {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    max-width: 400px;
    margin: 0 auto 4vh 2vw;
    padding: 30px 0 15px 5vw;
}
@media (min-width: 838px) {
    .old-reviews {
        max-width: 700px;
        text-align: left;
    }
    .review-text {
        max-width: 575px;
        text-align: left;
    }
    .comment-box {
        max-width: 700px;
    }
}

/* //////////////////////////
   FOOTER
////////////////////////////*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.custom-quotes {
    height: 10vh;
    width: 100%;
    background: rgb(37, 36, 36);
    text-align: center;
    display: flex;
    flex-direction: column;   
}
.custom-quotes > p {
    font-size: 1.15em;
   font-weight: 650; 
   letter-spacing: .9px;
   min-height: 6vh;
   margin: auto 0;
   color: rgb(161, 158, 158);
}
.footer-contact {
    font-size: 1.1em;
    min-height: 10vh;
    text-decoration: none;
    padding-top: 3vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(240,240,240,.97);
    transition: all 350ms;
}
.footer-contact:hover,
.footer-contact:focus {
    color: #03a9f4 ;
    font-size: 1.2em;
    cursor: pointer;
}

/* //////////////////////////
   HAMBURGER MENU
////////////////////////////*/

.hamburger {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    border: black solid 3px;
    background: rgb(29, 28, 28);
    color: rgba(240,240,240,.97);
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 60%;
  }
.closeIcon {
    display: none;
  }
.menu {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgb(29, 28, 28);
    color: rgba(240,240,240,.97);
    list-style: none;
    padding-top: 4rem;
    opacity: 95%;
  }
.showMenu {
    transform: translateY(0);
  }
.menuItem {
    color: aliceblue;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 0;
    cursor: pointer;
    letter-spacing: .8px;
} 
.menuItem:hover{
  color: #03a9f4;
}
.menu ul {
    position: relative;
  }
.menu ul li {
    list-style: none;
  }
.menu ul li a {
    text-decoration: none;
    font-size: 1.4em;
    color: rgb(255, 255, 255);
  }
.menu ul li a:hover {
    color: #03a9f4;  
  } 
  .menuIcon{
    margin-bottom: 7px;
    font-size: 1.5rem;
}
.closeIcon{
    margin-bottom: 0px;
    font-size: 1.5rem;;
}