@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@0,500&display=swap');

/* //////////////////////////
    GLOBAL STYLES (nav menu at bottom for readability)
////////////////////////////*/


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: crosshair;   
}
body{
    background-color: rgb(29, 28, 28);
    color: rgba(240,240,240,.97);
}

/* //////////////////////////
    HERO SECTION
////////////////////////////*/

.company-name {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.2em;
    text-decoration: none;
    font-weight: 700;
    text-shadow: rgb(7, 7, 7) 5px 5px 10px;
    color: rgba(240,240,240,.97);
    transition: color 350ms;
    padding: 3vh 4vh;
    max-height: 80px;
}
.company-name:hover {
    color: rgb(22, 94, 117);
    cursor: pointer;
}
.hero-flex-container {
    min-height: 80vh;
    background-image: url('./news-images/contactGun.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    background-color: rgb(102, 102, 102);;
    background-blend-mode: overlay;
}
.hero-flex-item {
    align-self: center;
    margin-right: 7vw;
}
.hero-text {
    text-align: center;
    font-family: 'EB Garamond', serif;
    font-size: 1rem;
}
@media (min-width: 838px) {
    .company-name {
        font-size: 1.4rem;
    }
    .hero-text {
        font-size: 1.2rem;
    }
    .hero-flex-container {
        min-height: 80vh;
        background-position: top;
    }
    .hero-flex-item {
        margin-right: 20vw;
    }
}
@media (min-width: 1138px) {
    .company-name {
        font-size: 1.6rem;
    }
    .hero-text {
        font-size: 1.4rem;
    }
    .hero-flex-container {
        min-height: 80vh;
        background-position: center top;
    }
    .hero-flex-item {
        margin-right: 20vw;
    }
}

/* //////////////////////////
    NEWS & INVENTORY SECTION
////////////////////////////*/

.what-title {
    margin: 2em 1em;
    text-align: center;
    font-family: 'Acme', sans-serif;
    word-spacing: .07em;
    letter-spacing: .45px;
    font-size: 1.4rem;
}
.contact-us {
    cursor: pointer;
    color:#03a9f4;
    text-decoration: none;
    margin-left: .5em;
    transition: all 450ms;
}
.contact-us:hover,
.contact-us:focus {
    font-size: 1.1em;
    color:#033e5a;
    
}
.news-text {
    font-size: 1em;
    font-family: adobe-garamond-pro;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 1.6em;
    color: rgba(240,240,240,.97);
    max-width: 450px;
    margin: 0 auto 4vh;
}
.news {
    max-width: 150px;
    margin: 10vh auto 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #646262;
    border-bottom: 1px solid #646262;
}
.news-title {
    max-width: 480px;
    margin: 10vh auto 0 5vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #646262;
    padding-bottom: 6vh;
}
.in-stock{
    color: rgb(93, 223, 147);
}
.out-of-stock{
    color: rgb(124, 57, 57);
}
@media (min-width: 1138px) {
    .news-text {
        max-width: 650px;
    }
}

/* //////////////////////////
   FOOTER
////////////////////////////*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.custom-quotes {
    height: 10vh;
    width: 100%;
    background: rgb(37, 36, 36);
    text-align: center;
    display: flex;
    flex-direction: column;   
}
.custom-quotes > p {
    font-size: 1.15em;
   font-weight: 650; 
   letter-spacing: .9px;
   min-height: 6vh;
   margin: auto 0;
   color: rgb(161, 158, 158);
}
.footer-contact {
    font-size: 1.1em;
    min-height: 10vh;
    text-decoration: none;
    padding-top: 3vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(240,240,240,.97);
    transition: all 350ms;
}
.footer-contact:hover,
.footer-contact:focus {
    color: #03a9f4 ;
    font-size: 1.2em;
    cursor: pointer;
}

/* //////////////////////////
   HAMBURGER MENU
////////////////////////////*/

.hamburger {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    border: black solid 3px;
    background: rgb(29, 28, 28);
    color: rgba(240,240,240,.97);
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 60%;
  }
.closeIcon {
    display: none;
  }
.menu {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgb(29, 28, 28);
    color: rgba(240,240,240,.97);
    list-style: none;
    padding-top: 4rem;
    opacity: 95%;
  }
.showMenu {
    transform: translateY(0);
  }
.menuItem {
    color: aliceblue;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4em;
    font-weight: 0;
    cursor: pointer;
    letter-spacing: .8px;
} 
.menuItem:hover{
  color: #03a9f4;
}
.menu ul {
    position: relative;
  }
.menu ul li {
    list-style: none;
  }
.menu ul li a {
    text-decoration: none;
    font-size: 1.4em;
    color: rgb(255, 255, 255);
  }
.menu ul li a:hover {
    color: #03a9f4;  
  } 
 .menuIcon{
     margin-bottom: 7px;
     font-size: 1.5rem;
 }
 .closeIcon{
     margin-bottom: 0px;
     font-size: 1.5rem;;
 }