@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@0,500&display=swap');

/* //////////////////////////
    GLOBAL STYLES (nav menu at bottom for readability)
////////////////////////////*/


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: crosshair;   
}
body{
    background-color: rgb(29, 28, 28);
    color: rgba(240,240,240,.97);
}

/* //////////////////////////
    HERO SECTION
////////////////////////////*/

.company-name {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.2em;
    text-decoration: none;
    font-weight: 700;
    text-shadow: rgb(7, 7, 7) 5px 5px 10px;
    color: rgba(240,240,240,.97);
    transition: color 350ms;
    padding: 3vh 4vh;
    max-height: 80px;
}
.company-name:hover {
    color: rgb(22, 94, 117);
    cursor: pointer;
}
.hero-flex-container {
    min-height: 80vh;
    background-image: url('./news-images/contactGun.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    background-color: rgb(102, 102, 102);;
    background-blend-mode: overlay;
}
.hero-flex-item {
    align-self: center;
    margin-right: 7vw;
}
.hero-text {
    text-align: center;
    font-family: 'EB Garamond', serif;
    font-size: 1rem;
}

/* //////////////////////////
    HANDGUARD SECTION
////////////////////////////*/

.what-title {
    margin: 2em 1em;
    text-align: center;
    font-family: 'Acme', sans-serif;
    word-spacing: .07em;
    letter-spacing: .45px;
    font-size: 1.4rem;
}
.contact-us {
    cursor: pointer;
    color:#03a9f4;
    text-decoration: none;
    margin-left: .5em;
    transition: all 450ms;
}
.contact-us:hover,
.contact-us:focus {
    font-size: 1.1em;
    color:#033e5a;
    
}
.news-text {
    font-size: 1em;
    font-family: adobe-garamond-pro;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 1.6em;
    color: rgba(240,240,240,.97);
    max-width: 450px;
    margin: 0 auto 4vh;
}
.news {
    max-width: 150px;
    margin: 10vh auto 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #646262;
    border-bottom: 1px solid #646262;
}
.news-title {
    max-width: 480px;
    margin: 10vh auto 0 5vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #646262;
    padding-bottom: 6vh;
}