@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* //////////////////////////
    GLOBAL STYLES (nav menu at bottom for readability)
////////////////////////////*/


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: crosshair;   
}
body{
    background-color: rgb(29, 28, 28);
    color: rgba(240,240,240,.97);
}

/* //////////////////////////
    HERO SECTION
////////////////////////////*/

.company-name {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 700;
    text-shadow: rgb(7, 7, 7) 5px 5px 10px;
    color: rgba(240,240,240,.97);
    transition: color 350ms;
    padding: 3vh 4vh;
    max-height: 80px;
}
.company-name:hover {
    color: rgb(22, 94, 117);
    cursor: pointer;
}
.hero-flex-container {
    min-height: 100vh;
    background-image: url('./handguard-images/darkHero.jpg');
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(121, 120, 120);;
    background-blend-mode: overlay;
}
.hero-text-container {
    min-height: 30vh;
    min-width: 80vw;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.hero-text {
    font-family: 'EB Garamond', serif;
    font-size: 1rem;
}
.two {
    padding-left: 40vw;
}
.three {
    padding-left: 45vw;
}
@media (min-width: 828px) {
    .hero-flex-container {
        flex-direction: row;
        justify-content: space-between;
    }
    .company-name {
        font-size: 1.3rem;
    }
    .hero-text-container {
        min-width: 50vw;
        align-self: flex-start;
        margin-top: 10vh;
    }
    .hero-text {
        font-size: 1.2rem;
    }
    .two {
        padding-left: 20vw;
    }
    .three {
        padding-left: 25vw;
    }
}
@media (min-width: 1108px) {
    .hero-text-container {
        margin-top: 20vh;
    }
    .hero-text {
        font-size: 1.5rem;
    }
    .company-name {
        font-size: 1.6rem;
    }
}
@media (min-width: 1628px) {
    .company-name {
      font-size: 2rem;
    }
}


/* //////////////////////////
    HANDGUARD SECTION
////////////////////////////*/

.what-title {
    margin: 2em 1em;
    text-align: center;
    font-family: 'Acme', sans-serif;
    word-spacing: .07em;
    letter-spacing: .45px;
    font-size: 1.4rem;
}
.handguard-container {
   
    
}
.handguard-text {
    font-size: 1em;
    font-family: adobe-garamond-pro;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 1.6em;
    color: rgba(240,240,240,.97);
    text-align: center;
    max-width: 450px;
    margin: 0 auto 4vh;
}
.handguard-title {
    max-width: 480px;
    margin: 10vh auto 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #646262;
    padding-bottom: 6vh;
}
.handguard-image-container {
    max-width: 400px;
    margin: 5vh auto 10vh;
}
.handguard-image {
    max-width: 400px;
    margin: 0 auto;
}
@media (min-width: 838px) {
    .handguard-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .handguard-title {
        margin-left: 3vw;
        max-width: 700px;
        font-size: 1.3rem;
        text-align: left;
    }
    .handguard-text {
        text-align: left;
        max-width: 550px;
    }
    #list-one {
        padding-right: 18vw;
    }
    #list-two {
        max-width: 800px;
        margin: 0 auto;
    }
    .change {
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-items: center;
    }
    #list-three {
        margin-right: 10vw;
    }
}
@media (min-width: 1538px) {
    #list-three {
        display: none;
    }
    .what-title {
        font-size: 1.8rem;
    }
}



/* //////////////////////////
   FOOTER
////////////////////////////*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.custom-quotes {
    height: 10vh;
    width: 100%;
    background: rgb(37, 36, 36);
    text-align: center;
    display: flex;
    flex-direction: column;   
}
.custom-quotes > p {
    font-size: 1.15em;
   font-weight: 650; 
   letter-spacing: .9px;
   min-height: 6vh;
   margin: auto 0;
   color: rgb(161, 158, 158);
}
.footer-contact {
    font-size: 1.1em;
    min-height: 10vh;
    text-decoration: none;
    padding-top: 3vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(240,240,240,.97);
    transition: all 350ms;
}
.footer-contact:hover,
.footer-contact:focus {
    color: #03a9f4 ;
    font-size: 1.2em;
    cursor: pointer;
}

/* //////////////////////////
   HAMBURGER MENU
////////////////////////////*/

.hamburger {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    border: black solid 3px;
    background: rgb(29, 28, 28);
    color: rgba(240,240,240,.97);
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 60%;
  }
.closeIcon {
    display: none;
  }
.menu {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgb(29, 28, 28);
    color: rgba(240,240,240,.97);
    list-style: none;
    padding-top: 4rem;
    opacity: 95%;
  }
.showMenu {
    transform: translateY(0);
  }
.menuItem {
    color: aliceblue;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 0;
    cursor: pointer;
    letter-spacing: .8px;
} 
.menuItem:hover{
  color: #03a9f4;
}
.menu ul {
    position: relative;
  }
.menu ul li {
    list-style: none;
  }
.menu ul li a {
    text-decoration: none;
    font-size: 1.4em;
    color: rgb(255, 255, 255);
  }
.menu ul li a:hover {
    color: #03a9f4;  
  } 
 .menuIcon{
     margin-bottom: 7px;
     font-size: 1.5rem;
 }
 .closeIcon{
     margin-bottom: 0px;
     font-size: 1.5rem;;
 }